name: Deploy Docs to GitHub Pages

on:
  push:
    branches: [ "main" ]
    paths:
      - "docs/mkdocs.yml"
      - "docs/pages/**"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install MkDocs and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs
          pip install mkdocs-material

      - name: Build MkDocs site
        run: |
          mkdocs build --strict --config-file docs/mkdocs.yml

      - name: Upload built site as artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs/site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
